@{
    ViewData["Title"] = "Application Submitted";
}

@model DateMePlz.Models.ApplicationResponse

@if (Model.CreeperStalker == true)
{
    <h2>Haha you're a creeper and a stalker!</h2>
}
else
{
    <h2>Application received. Thank you, @Model.FirstName.</h2>
    <h3>But don't expect to get a response...</h3>
}