@{ 
    ViewData["Title"] = "Delete Movie";
}

@model ApplicationResponse

@*bring in the model to show the movie title to delete*@
<h2>Confirm Deletion</h2>
<h3>Are you sure you want to delete the record for @Model.Title?</h3>

<form asp-controller="Home" asp-action="Delete">
    <button type="submit">Delete</button>
    <a asp-controller="Home" asp-action="Waitlist" class="btn btn-primary">Cancel</a>

    <input asp-for="MovieID" hidden />
</form>