@{
    ViewData["Title"] = "Date Me Plz";
}

<h1>Date Me!</h1>

<div>
    <p>Yay dates ;)</p>
</div>

<img src="~/img/Yorgason, Chad.jpg" height="500"/>

<div>
    <a asp-controller="Home" asp-action="DatingApplication">Fill out an Application</a>
</div>